body{
  background: rgb(22, 117, 228);
}
/* ----------HEADER-----*/
header{
  background: white;
  padding:10px;
}

header img{
  height: 100px;
}

/*----MENU NAV---*/
nav{
  background:rgb(238, 172, 94);
}

nav p{
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

nav a{
  padding:15px;
  text-align: center;
  text-decoration: none;
  color:black;
  font-weight: bold;
  width: 100%;
  transition: 0.5s;
}

nav a:hover{
  background-color: white;
}

/*contenido general de la página*/

#contenido{
  margin-top: 20px;
  padding-bottom: 30px;
  background: white;
  border-radius: 15px;
}

/*-----SECTION-------*/
article{
  margin-top: 10px;
}

img[src$='jpg'], img[src$='jpeg']{ /* IMAGENES DE LOS DOS ARTISTAS */
  width: 100%;
}

.comentario{
  margin-top:10px;
}

.comentario img{
  width: 100%;
}

textarea{
  width: 100%;
  height: 60px;
}

/*--------- ASIDE------- */
aside{
  margin-top: 10px;
}

.busqueda>input{
  width:90%;
}

.listado{
  margin-top: 10px;
}

.listado li{
  padding: 5px 0px;
  border: 1px solid  rgba(97, 104, 105, 0.15);
  transition: 0.4s;
}

.listado li:hover{
  background: rgb(238, 172, 94);
}

.listado li>a{
  text-decoration: none;
  color:black;
}

/*--Configuraciones de resolución-----*/
@media (min-width:992px) {
  /*---header---*/
  header>div:nth-child(1){
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  header>div:nth-child(2){
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
  }

  header img[src$='svg']{
    margin-top: 50px;
    height: 35px;
  }
}

@media (min-width:320px) and (max-width:991px){
  /*------HEADER----*/
  header>div:nth-child(1){
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  header>div:nth-child(2){
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  header img[src$='svg']{
    margin-top: 20px;;
    height: 35px;
  }
  aside{
    display: none;
  }
}
